# Fichiers système
.DS_Store
Thumbs.db

# Unreal Engine
Saved/
Intermediate/
DerivedDataCache/
Binaries/
Build/

# Plugins générés
*.uplugin
*.upluginmodules

# Dossiers spécifiques aux EDI
.idea/
.vscode/
.vs/

# Fichiers Visual Studio
*.VC.db
*.VC.VC.opendb
*.suo
*.user

# Xcode
*.xcodeproj

# Logs et Backups
*.log
*.bak
Backup/

# Configurations locales
*.ini.local
